.appHeader{
    background-color: #b0bec5;
    height:60px;
   
}
.container{
    height: 100%;
     position: relative;
     padding: 0 30px;
     max-width: 1260px;
     margin: 0 auto;;
}
.lhs{
    float: left;
    display: block;
}
.rhs{
    float: right;
    margin: 10px 10px;
  }
 